<h2>Reset Password</h2>

<form action="/reset-password/<%= token %>" method="POST">
  <input type="password" name="password" placeholder="New Password" required>
  <button>Update Password</button>
</form>